
body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #e1b063;
    background: url('https://img.freepik.com/premium-photo/berry-smoothie-gooseberries-raspberries-white-currants_220925-939.jpg?uid=R164487363&ga=GA1.1.896011322.1726914163&semt=ais_hybrid') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-image: url('https://img.freepik.com/free-vector/italian-food-with-pasta-realistic-composition-dark-background-isolated-icons-spaghetti-greens-vector-illustration_1284-83053.jpg?t=st=1735924902~exp=1735928502~hmac=b8d10de057850cb6ec832f522b267de50a12ace66a6eb4a51ab50609738ab130&w=826');
    /* Replace with your food image */
    background-size: 100% 100%;
    height: 150px;
    background-position: center;
    color: #fc711b;
    padding: 2rem 0;
    border-bottom: 10px solid #fc711b;
}

.header-content {
    text-align: center;
    font-family: bodoni;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
    font-size: x-large;
}

nav a {
    color: #fc711b;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}


.categories {
    text-align: center;
    margin-bottom: 2rem;
}

.categories a {
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem 2rem;
    background-color: #333;
    color: #d35400;
    text-decoration: none;
    border-radius: 5px;
    font-size: larger;
}


.recipe-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    background-color: #c9c77f;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-size: larger;
    margin-bottom: 2rem;
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.recipe-details h2 {
    font-size: 2rem;
    color: #333;
}

.recipe-details p {
    font-size: 1.1rem;
    color: #555;
    margin: 1rem 0;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    background-color: #d35400;
    color: #fff;
    padding: 12px 24px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.cta:hover {
    background-color: #e67e22;
}

footer {
    background-color: #d35400;
    color: #F4D9D0;
    text-align: center;
    padding: 1rem 0;
}

.footer-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content h3 {
    margin-bottom: 10px;
    color: #f39c12;
}

.footer-content p {
    margin: 5px 0;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: #f39c12;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #fff;
}