* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/mexican-dishes-pepper_23-2147740824.jpg?t=st=1736001926~exp=1736005526~hmac=08ba824a0ea40754f03255a5016d892d136dbec207491f032c909e01557a4634&w=996');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url('https://img.freepik.com/free-vector/italian-food-with-pasta-realistic-composition-dark-background-isolated-icons-spaghetti-greens-vector-illustration_1284-83053.jpg?t=st=1735924902~exp=1735928502~hmac=b8d10de057850cb6ec832f522b267de50a12ace66a6eb4a51ab50609738ab130&w=826'); /* Replace with your food image */
    background-size: 100% 100%;
    height: 150px;
    background-position: center;
    color: #fc711b;
    padding: 2rem 0;
    border-bottom: 10px solid #fc711b;
    width: 100%;
}

.header-content {
    text-align: center;
    font-family: bodoni;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size:x-large;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
    font-size:x-large ;
}

nav a {
    color:#fc711b ;
    text-decoration: none;
}


.whole {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    max-width: 550px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 500px;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 60%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.whole h1 {
    color: #fc711b;
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 900;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

div {
    position: relative;
}


label svg {
    display: inline-block;
    position: absolute;
    top: 30%;
    vertical-align: middle;
    fill: #fc711b;
}


.error-message {
    position: absolute;
    top: 100%;
    left: 30px;
    font-size: 1rem;
    color: red;
    margin-top: 5px;
}

input {
    width: calc(100% - 100px);
    padding: 12px 10px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    height: 30px;
}

input:focus {
    outline: none;
    border-color: #fc711b;
    box-shadow: 0 0 4px rgba(255, 140, 66, 0.5);
}

button {
    background-color: #fc711b;
    color: white;
    padding: 0.85em 4em;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    text-transform: uppercase;
}

button:hover {
    background-color: #ca5811;
}

a {
    color: #fc711b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1rem;
    color: #333;
    margin-top: 20px;
}
